.all-heroes {
  margin: 0px auto;
  width: 400px;
}

.heroes-header {
  margin-bottom: 20px;
  text-align: center;  
}

.title {
  display: inline;
}

.hero-add-icon {
  padding-top: 15px;
  color: red;
  margin-right: 5px;
}
.hero-list {
  margin: 5px 0;
}

.hero-name {
  width: 75%;
}